<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Endereços</title>
    <link rel="stylesheet" href="/css/address/styles.css"> <!-- Link para o CSS -->
    <link rel="stylesheet" href="/css/perfil/info.css">
    <style>
        /* Adicione isso ao seu CSS para centralizar os botões */
        .button-container {
            display: flex;
            justify-content: center; /* Centraliza horizontalmente */
            gap: 10px; /* Espaçamento entre os botões */
            margin-top: 20px; /* Margem superior para separar os botões do conteúdo acima */
        }

        .back-container {
            position: fixed; /* Fixa a posição da seta em relação à tela */
            top: 140px; /* Ajuste a altura abaixo do header/navigation-bar */
            left: 20px; /* Define a posição da seta no canto esquerdo */
            z-index: 999; /* Garante que a seta fique por cima de outros elementos */
        }

        .back-button {
            color: #007bff;
            font-size: 50px;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="header-container">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo centralizada -->
            <div class="logo">
                <a href="/"><img src="/img/logo1.0.png" alt="Logo da loja"></a>
            </div>
    
            <!-- Área de busca e ícones -->
            <div class="search-container">
                <div class="search-area">
                    <input type="text" id="search-input" placeholder="O que deseja procurar?">
                    <button id="search-button">Buscar</button>
                </div>
                
                <!-- Ícone do Central de Atendimento -->
                <div class="logo1">
                    <a href="#" id="openSupportModal"><img src="/img/central1.0.png" alt="Central de Atendimento"></a>
                </div>
    
                <!-- Modal -->
                <div id="supportModal" class="support-modal">
                    <div class="support-modal-content">
                        <span class="close-support-modal">&times;</span>
                        <h2>Central de Atendimento</h2>
                        <p>Escolha uma das opções abaixo:</p>
                        <button class="support-whatsapp-btn">WhatsApp</button>
                        <button class="support-instagram-btn">Instagram</button>
                        <button class="support-email-btn">E-mail</button>
                    </div>
                </div>
    
                <!-- Ícone do entrar/cadastrar -->
                <div class="logo2">
                    <a href="/login" id="login-link">
                        <img src="/img/login1.0.png" alt="Entrar/Cadastrar" id="login-icon">
                    </a>
                    <div id="perfil-menu" class="perfil-menu hidden">
                        <ul>
                            <li><a href="/perfil">Visualizar Perfil</a></li>
                            <li><a href="/logout" id="logout">Sair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <!-- Ícone do carrinho -->
            <div class="cart">
                <a href="#" id="cart-icon">
                    <img src="/img/carrinho1.png" alt="Carrinho">
                    <span id="cart-count">0</span>
                </a>
            </div>
    
            <!-- Modal do carrinho -->
            <div id="cart-modal">
                <div id="cart-modal-content">
                    <span class="close-cart">&times;</span>
                    <h2>Produtos Carrinho</h2>
                    <div id="cart-items">
                        <!-- Itens do carrinho serão inseridos aqui -->
                    </div>
                    <div class="cart-total" id="cart-total">Total: R$ 0.00</div>
                    <button id="checkout-button" onclick="window.location.href='/cart/carrinho'">Finalizar Compra</button>
                </div>
            </div>
        </header>
    </div>
    
    <!-- Separador -->
    <div class="separator"></div>
    
    <!-- Navigation Bar -->
    <nav class="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/produtos">Produtos</a></li>
            <li class="dropdown-container">
                <a href="#">Marcas A a O</a>
                <ul class="dropdown">
                    <li>
                        <a href="/produtos?marca=audemars-piguet" class="marca-item" data-marca="audemars-piguet">Audemars Piguet</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=breitling" class="marca-item" data-marca="breitling">Breitling</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=cartier" class="marca-item" data-marca="cartier">Cartier</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=hublot" class="marca-item" data-marca="hublot">Hublot</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=michael-kors" class="marca-item" data-marca="michael-kors">Michael Kors</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=omega" class="marca-item" data-marca="omega">Omega</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-container">
                <a href="#">Marcas P a Z</a>
                <ul class="dropdown">
                    <li>
                        <a href="/produtos?marca=panerai" class="marca-item" data-marca="panerai">Panerai</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=patek-philippe" class="marca-item" data-marca="patek-philippe">Patek Philippe</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=rolex" class="marca-item" data-marca="rolex">Rolex</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=tag-heuer" class="marca-item" data-marca="tag-heuer">Tag Heuer</a>
                    </li>
                </ul>
            </li>
            <li><a href="/produtos?categoria=ofertas">Ofertas</a></li>
        </ul>
    </nav>

    <!-- Container para a imagem -->
    <div class="imagem-marcas-container">
        <img id="marca-imagem" src="" alt="Imagem da marca" />
    </div>

    <!-- Container para a imagem -->
    <div class="back-container">
        <a href="javascript:history.back()" class="back-button">←</a>
    </div>

    <div class="container">
        <h2 id="titulo">Lista de Endereços</h2>

        <ul class="address-list">
            <% addresses.forEach(function(address) { %>
                <li class="address-item">
                    <p><strong>CEP:</strong> <%= address.cep %></p>
                    <p><strong>Cidade:</strong> <%= address.cidade %> <strong>Estado:</strong> <%= address.estado %></p>
                    <p>
                        <strong>Bairro:</strong> <%= address.bairro %><br>
                        <strong>Quadra:</strong> <%= address.quadra %><br>
                        <strong>Número:</strong> <%= address.numero %><br>
                        <strong>Complemento:</strong> <%= address.complemento || 'N/A' %>
                    </p>
                    <div class="address-buttons">
                        <form action="/addresses/delete/<%= address._id %>" method="POST" style="display:inline;">
                            <input type="hidden" name="userId" value="<%= userId %>">
                            <button type="submit" class="btn delete-btn">Deletar</button>
                        </form>
                    </div>
                </li>
            <% }) %>
        </ul>
        
        <div class="button-container">
            <button class="btn add-address-btn" onclick="adicionarEndereco()">Adicionar Novo Endereço</button>
        </div>

        <!-- Formulário de endereço inicialmente escondido -->
        <form action="/addresses/add" method="POST" class="address-form" style="display: none;">
            <input type="hidden" name="userId" value="<%= userId %>">
            <div class="form-group">
                <label for="cep">CEP:</label>
                <input type="text" id="cep" name="cep" oninput="formatarCep()" required>
            </div>
            <div class="form-group">
                <label for="estado">Estado:</label>
                <input type="text" id="estado" name="estado" required readonly>
            </div>
            <div class="form-group">
                <label for="cidade">Cidade:</label>
                <input type="text" id="cidade" name="cidade" required readonly>
            </div>
            <div class="form-group">
                <label for="bairro">Bairro:</label>
                <input type="text" id="bairro" name="bairro" required readonly>
            </div>
            <div class="form-group">
                <label for="quadra">Quadra:</label>
                <input type="text" id="quadra" name="quadra">
            </div>
            <div class="form-group">
                <label for="numero">Número:</label>
                <input type="text" id="numero" name="numero" required>
            </div>
            <div class="form-group">
                <label for="complemento">Complemento:</label>
                <input type="text" id="complemento" name="complemento">
            </div>
            
            <div class="button-container"> <!-- Container para os botões do formulário -->
                <button type="submit" class="btn">Salvar Endereço</button>
                <button type="button" class="btn cancel-btn" onclick="cancelarAdicionar()">Cancelar</button>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <div>
            <div class="footer-content">
                <div class="about">
                    <h3>Sobre Kalegacy</h3>
                    <p>Na Kalegacy, acreditamos que um relógio é muito mais do que um acessório – é uma expressão de estilo, status e personalidade. Combinando a sofisticação da relojoaria clássica com a precisão e inovação da tecnologia suíça, criamos relógios que transcendem o tempo.</p>
                </div>
                <div class="contact">
                    <h3>Contato</h3>
                    <p>WhatsApp: <a href="https://wa.me/5561995795346" target="_blank">(61) 99579-5346</a></p>
                    <p>Email: <a href="mailto:contatokalegacy@gmail.com">contatokalegacy@gmail.com</a></p>
                    <p>Instagram: <a href="https://www.instagram.com/kalegacy_oficial/" target="_blank">@kalegacy_oficial</a></p>
                </div>
                <div class="payments">
                    <h3>Formas de pagamento</h3>
                    <div class="payment-images">
                        <img src="https://seeklogo.com/images/M/mercado-pago-logo-18C70D8C77-seeklogo.com.png?v=638388567980000000" alt="Mercado Pago">
                        <img src="https://i.pinimg.com/originals/01/9a/2d/019a2d16277d159cd2ef1298a4c60ab8.png" alt="Pix">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/American_Express_logo_%282018%29.svg/1200px-American_Express_logo_%282018%29.svg.png" alt="American Express">
                        <img src="https://logodownload.org/wp-content/uploads/2019/09/boleto-logo-0.png" alt="Boleto">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Visa.svg/1200px-Visa.svg.png" alt="Visa">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg" alt="Mastercard">
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Kalegacy. Todos os direitos reservados.</p>
                <p>Desenvolvido por <a href="https://github.com/kantxlx" target="_blank">BiteConecta</a></p>
            </div>
        </div>
    </footer>

    <script>
        function openEditForm(addressId, cep, cidade, estado, bairro, quadra, numero, complemento) {
            document.getElementById('editAddressId').value = addressId;
            document.getElementById('editCep').value = cep;
            document.getElementById('editCidade').value = cidade;
            document.getElementById('editEstado').value = estado;
            document.getElementById('editBairro').value = bairro;
            document.getElementById('editQuadra').value = quadra;
            document.getElementById('editNumero').value = numero;
            document.getElementById('editComplemento').value = complemento;
            document.getElementById('editAddressModal').style.display = 'block';
        }

        function closeEditForm() {
            document.getElementById('editAddressModal').style.display = 'none';
        }

        function formatarCep() {
            const cepInput = document.getElementById('cep');
            let cepValue = cepInput.value.replace(/\D/g, ''); // Remove caracteres não numéricos
            if (cepValue.length > 5) {
                cepValue = cepValue.slice(0, 5) + '-' + cepValue.slice(5, 8); // Adiciona o "-" após os 5 primeiros números
            }
            cepInput.value = cepValue; // Atualiza o valor do input
            buscarCep(); // Chama a função para buscar o CEP
        }

        function adicionarEndereco() {
            document.querySelector('.address-list').style.display = 'none'; // Esconde a lista de endereços
            document.querySelector('.address-form').style.display = 'block'; // Exibe o formulário
            document.querySelector('.address-form').scrollIntoView(); // Rola para o formulário
            document.querySelector('.add-address-btn').style.display = 'none'; // Esconde o botão "Adicionar Novo Endereço"
            document.getElementById('titulo').innerText = 'Cadastrar Novo Endereço'; // Altera o título
        }

        function cancelarAdicionar() {
            document.querySelector('.address-form').style.display = 'none'; // Esconde o formulário
            document.querySelector('.address-list').style.display = 'block'; // Mostra a lista de endereços
            document.querySelector('.add-address-btn').style.display = 'block'; // Mostra o botão "Adicionar Novo Endereço"
            document.getElementById('titulo').innerText = 'Lista de Endereços'; // Restaura o título original
        }

        function buscarCep() {
            const cep = document.getElementById('cep').value.replace('-', ''); // Remove o "-" para buscar
            if (cep.length === 8) {
                fetch(`https://viacep.com.br/ws/${cep}/json/`)
                    .then(response => response.json())
                    .then(data => {
                        if (!data.erro) {
                            document.getElementById('estado').value = data.uf;
                            document.getElementById('cidade').value = data.localidade;
                            document.getElementById('bairro').value = data.bairro;
                            document.getElementById('quadra').value = '';
                        } else {
                            alert('CEP inválido.');
                            document.getElementById('estado').value = '';
                            document.getElementById('cidade').value = '';
                            document.getElementById('bairro').value = '';
                            document.getElementById('quadra').value = '';
                        }
                    })
                    .catch(error => console.error('Erro ao buscar o CEP:', error));
            } else {
                document.getElementById('estado').value = '';
                document.getElementById('cidade').value = '';
                document.getElementById('bairro').value = '';
                document.getElementById('quadra').value = '';
            }
        }
    </script>
    <script src="/js/perfil/info.js"></script>
</body>
</html>
