<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Pedido</title>
    <link rel="stylesheet" href="/css/perfil/info.css">
    <style>
        body {
            background-color: #ffffff;
            color: #001f3f;
            font-family: Arial, sans-serif;
        }

        /* Estilo geral para o select */
        #addressSelect {
            width: 80%;
            padding: 10px;
            font-size: 16px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            appearance: none;
        }

        #addressSelect option {
            white-space: nowrap;
            overflow: hidden; 
            text-overflow: ellipsis;
        }

        .pedido-container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 8px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
            text-align: center;
        }

        h1, h2 {
            color: #001f3f;
        }

        p {
            margin: 10px 0;
        }

        .pedido-botao-container {
            text-align: center;
            margin-top: 20px;
        }

        .pedido-botao {
            padding: 10px 20px;
            background-color: #001f3f;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .pedido-botao.cancelar {
            background-color: red;
        }

        .pedido-botao:disabled {
            background-color: #cccccc;
        }

        .pedido-botao:hover {
            background-color: #0056b3;
            transform: scale(1.05); 
        }

        .pedido-botao.cancelar:hover {
            background-color: darkred; 
            transform: scale(1.05); 
        }

        #orderSummary {
            margin-top: 20px;
        }

        .order-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 10px;
        }

        .order-info p {
            margin: 5px 0;
        }

        .order-info {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .flex-container {
            display: flex;
            justify-content: center;
            width: 100%;
        }

        .flex-container p {
            width: 45%;
            margin: 5px 10px;
        }

        .flex-container input {
            margin-left: 5px;
            width: 50%;
        }

        @media (max-width: 768px) {
            .flex-container {
                flex-direction: column;
            }

            .flex-container p {
                width: 100%; 
                text-align: center;
            }

            #addressSelect {
                font-size: 14px; 
                padding: 8px;
            }
        }

        /* Resumo do Pedido */
        #pedidoResumo ul {
            list-style-type: none;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #pedidoResumo li {
            width: 100%; 
            margin-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: center; 
            padding: 5px;
            border-bottom: 1px solid #ccc;
            max-width: 80%; 
            text-align: center;
        }

        #pedidoResumo img {
            width: 80px; 
            height: 80px;
            object-fit: contain;
            margin-right: 15px;
            border-radius: 5px;
        }

        .pedido-resumo-produto {
            flex-grow: 1;
            text-align: left;
        }

        #pedidoResumo li:hover {
            transform: scale(1.05);
            border-color: #0a74da;
        }

        /* Responsivo */
        @media (max-width: 768px) {
            .pedido-container {
                width: 100%;
            }

            .order-info {
                flex-direction: column;
            }

            .order-info p {
                text-align: center;
            }

            #pedidoResumo img {
                margin-right: 0;
                margin-bottom: 10px;
            }

            #pedidoResumo li {
                flex-direction: column;
                align-items: center;
            }
        }
        @media (max-width: 480px) {
            #addressSelect {
                font-size: 12px;
                padding: 6px;
            }

            /* Reduzir o comprimento das opções exibidas para telas pequenas */
            #addressSelect option {
                white-space: normal;
                word-wrap: break-word;
            }
        }
    </style>
    <script>
        function habilitarBotao() {
            const cpf = document.getElementById('cpf').value;
            const phone = document.getElementById('phone').value;
            const finalizarButton = document.getElementById('finalizarButton');
            finalizarButton.disabled = !(cpf && phone);
        }
    </script>
</head>
<body>
    <div class="header-container">
        <!-- Main Header -->
        <header class="main-header">
            <!-- Logo centralizada -->
            <div class="logo">
                <a href="/"><img src="/img/logo1.0.png" alt="Logo da loja"></a>
            </div>
    
            <!-- Área de busca e ícones -->
            <div class="search-container">
                <div class="search-area">
                    <input type="text" id="search-input" placeholder="O que deseja procurar?">
                    <button id="search-button">Buscar</button>
                </div>
                
                <!-- Ícone do Central de Atendimento -->
                <div class="logo1">
                    <a href="#" id="openSupportModal"><img src="/img/central1.0.png" alt="Central de Atendimento"></a>
                </div>
    
                <!-- Modal -->
                <div id="supportModal" class="support-modal">
                    <div class="support-modal-content">
                        <span class="close-support-modal">&times;</span>
                        <h2>Central de Atendimento</h2>
                        <p>Escolha uma das opções abaixo:</p>
                        <button class="support-whatsapp-btn">WhatsApp</button>
                        <button class="support-instagram-btn">Instagram</button>
                        <button class="support-email-btn">E-mail</button>
                    </div>
                </div>
    
                <!-- Ícone do entrar/cadastrar -->
                <div class="logo2">
                    <a href="/login" id="login-link">
                        <img src="/img/login1.0.png" alt="Entrar/Cadastrar" id="login-icon">
                    </a>
                    <div id="perfil-menu" class="perfil-menu hidden">
                        <ul>
                            <li><a href="/perfil">Visualizar Perfil</a></li>
                            <li><a href="/logout" id="logout">Sair</a></li>
                        </ul>
                    </div>
                </div>
            </div>
    
            <!-- Ícone do carrinho -->
            <div class="cart">
                <a href="#" id="cart-icon">
                    <img src="/img/carrinho1.png" alt="Carrinho">
                    <span id="cart-count">0</span>
                </a>
            </div>
    
            <!-- Modal do carrinho -->
            <div id="cart-modal">
                <div id="cart-modal-content">
                    <span class="close-cart">&times;</span>
                    <h2>Produtos Carrinho</h2>
                    <div id="cart-items">
                        <!-- Itens do carrinho serão inseridos aqui -->
                    </div>
                    <div class="cart-total" id="cart-total">Total: R$ 0.00</div>
                    <button id="checkout-button" onclick="window.location.href='/cart/carrinho'">Finalizar Compra</button>
                </div>
            </div>
        </header>
    </div>
    
    <!-- Separador -->
    <div class="separator"></div>
    
    <!-- Navigation Bar -->
    <nav class="nav-bar">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/produtos">Produtos</a></li>
            <li class="dropdown-container">
                <a href="#">Marcas A a O</a>
                <ul class="dropdown">
                    <li>
                        <a href="/produtos?marca=audemars-piguet" class="marca-item" data-marca="audemars-piguet">Audemars Piguet</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=breitling" class="marca-item" data-marca="breitling">Breitling</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=cartier" class="marca-item" data-marca="cartier">Cartier</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=hublot" class="marca-item" data-marca="hublot">Hublot</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=michael-kors" class="marca-item" data-marca="michael-kors">Michael Kors</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=omega" class="marca-item" data-marca="omega">Omega</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown-container">
                <a href="#">Marcas P a Z</a>
                <ul class="dropdown">
                    <li>
                        <a href="/produtos?marca=panerai" class="marca-item" data-marca="panerai">Panerai</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=patek-philippe" class="marca-item" data-marca="patek-philippe">Patek Philippe</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=rolex" class="marca-item" data-marca="rolex">Rolex</a>
                    </li>
                    <li>
                        <a href="/produtos?marca=tag-heuer" class="marca-item" data-marca="tag-heuer">Tag Heuer</a>
                    </li>
                </ul>
            </li>
            <li><a href="/produtos?categoria=ofertas">Ofertas</a></li>
        </ul>
    </nav>

    <!-- Container para a imagem -->
    <div class="imagem-marcas-container">
        <img id="marca-imagem" src="" alt="Imagem da marca" />
    </div>

    <div class="pedido-container">
        <h1>Confirmar Pedido</h1>
        <form action="/order/finalizar" method="POST" id="checkoutForm">
            <input type="hidden" name="name" value="<%= user.name %>">
            <input type="hidden" name="email" value="<%= user.email %>">
            <input type="hidden" name="address.quadra" id="addressQuadra">
            <input type="hidden" name="address.numero" id="addressNumero">
            <input type="hidden" name="address.complemento" id="addressComplemento">
            <input type="hidden" name="address.bairro" id="addressBairro">
            <input type="hidden" name="address.cidade" id="addressCidade">
            <input type="hidden" name="address.estado" id="addressEstado">
            <input type="hidden" name="address.cep" id="addressCep">
            
            <div class="pedido-selecao-endereco">
                <h2>Selecionar Endereço de Entrega:</h2>
                <% if (addresses && addresses.length > 0) { %>
                    <select id="addressSelect" name="addressId" required>
                        <option value="" disabled selected>Escolha um endereço...</option>
                        <% addresses.forEach(address => { %>
                            <option value="<%= address._id %>"
                                    data-quadra="<%= address.quadra %>"
                                    data-numero="<%= address.numero %>"
                                    data-complemento="<%= address.complemento %>"
                                    data-bairro="<%= address.bairro %>"
                                    data-cidade="<%= address.cidade %>"
                                    data-estado="<%= address.estado %>"
                                    data-cep="<%= address.cep %>">
                                <%= address.quadra || 'N/A' %>, <%= address.numero %>, <%= address.complemento || 'N/A' %> - <%= address.bairro %>, <%= address.cidade %> - <%= address.estado %> - CEP: <%= address.cep %>
                            </option>
                        <% }); %>
                    </select>
                <% } else { %>
                    <p>Você não possui endereços cadastrados.</p>
                    <a href="/addresses/<%= user._id %>" class="pedido-botao">Cadastrar um endereço</a>
                <% } %>
            </div>
    
            <div id="orderSummary" style="display: none;">
                <h2>Informações de entrega</h2>
                <div class="order-info">
                    <div class="flex-container">
                        <p><strong>Nome:</strong> <%= user.name %></p>
                        <p><strong>Email:</strong> <%= user.email %></p>
                    </div>
                    <div class="flex-container">
                        <p><strong>Telefone:</strong> <input type="text" id="phone" name="phone" required oninput="habilitarBotao()"></p>
                        <p><strong>CPF:</strong> <input type="text" id="cpf" name="cpf" required oninput="habilitarBotao()"></p>
                    </div>
                </div>
                <p><strong>Endereço Selecionado:</strong> <span id="selectedAddress"></span></p>
            </div>
    
            <div id="pedidoResumo" style="display: none;">
                <h2>Resumo do Pedido</h2>
                <ul>
                    <% cart.forEach(item => { %>
                        <li>
                            <img src="/uploads/<%= item.imagemCapa %>" alt="<%= item.name %>">
                            <div class="pedido-resumo-produto">
                                <%= item.name %> - Preço: R$ <%= item.price.toFixed(2) %> - Quantidade: <%= item.quantity %>
                                <input type="hidden" name="items[<%= item.index %>].productId" value="<%= item._id %>">
                                <input type="hidden" name="items[<%= item.index %>].quantity" value="<%= item.quantity %>">
                                <input type="hidden" name="items[<%= item.index %>].price" value="<%= item.price %>">
                            </div>
                        </li>
                    <% }); %>
                </ul>
                <div id="shippingDetails">
                    <p id="shippingCost">Valor do frete: R$ 0,00</p>
                    <p id="deliveryTime">Prazo de entrega: 0 dias</p>
                </div>
                <h3>Valor Total: R$ <%= total.toFixed(2) %></h3>
            </div>
    
            <div class="pedido-botao-container">
                <button type="button" class="pedido-botao cancelar" onclick="window.history.back()">Cancelar</button>
                <button type="button" id="finalizarButton" class="pedido-botao" disabled>Finalizar Compra</button>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="footer-content">
                <div class="about">
                    <h3>Sobre Kalegacy</h3>
                    <p>Na Kalegacy, acreditamos que um relógio é muito mais do que um acessório – é uma expressão de estilo, status e personalidade. Combinando a sofisticação da relojoaria clássica com a precisão e inovação da tecnologia suíça, criamos relógios que transcendem o tempo.</p>
                </div>
                <div class="contact">
                    <h3>Contato</h3>
                    <p>WhatsApp: <a href="https://wa.me/5561995795346" target="_blank">(61) 99579-5346</a></p>
                    <p>Email: <a href="mailto:contatokalegacy@gmail.com">contatokalegacy@gmail.com</a></p>
                    <p>Instagram: <a href="https://www.instagram.com/kalegacy_oficial/" target="_blank">@kalegacy_oficial</a></p>
                </div>
                <div class="payments">
                    <h3>Formas de pagamento</h3>
                    <div class="payment-images">
                        <img src="https://seeklogo.com/images/M/mercado-pago-logo-18C70D8C77-seeklogo.com.png?v=638388567980000000" alt="Mercado Pago">
                        <img src="https://i.pinimg.com/originals/01/9a/2d/019a2d16277d159cd2ef1298a4c60ab8.png" alt="Pix">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/American_Express_logo_%282018%29.svg/1200px-American_Express_logo_%282018%29.svg.png" alt="American Express">
                        <img src="https://logodownload.org/wp-content/uploads/2019/09/boleto-logo-0.png" alt="Boleto">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/04/Visa.svg/1200px-Visa.svg.png" alt="Visa">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Mastercard_2019_logo.svg" alt="Mastercard">
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2024 Kalegacy. Todos os direitos reservados.</p>
                <p>Desenvolvido por <a href="https://github.com/kantxlx" target="_blank">BiteConecta</a></p>
            </div>
        </div>
    </footer>
    
    <script>
        document.getElementById('addressSelect').addEventListener('change', function() {
            const selectedOption = this.options[this.selectedIndex];
            const selectedAddress = selectedOption.text;

            document.getElementById('selectedAddress').innerText = selectedAddress;

            // Atualiza os campos ocultos com os dados do endereço selecionado
            document.getElementById('addressQuadra').value = selectedOption.getAttribute('data-quadra');
            document.getElementById('addressNumero').value = selectedOption.getAttribute('data-numero');
            document.getElementById('addressComplemento').value = selectedOption.getAttribute('data-complemento');
            document.getElementById('addressBairro').value = selectedOption.getAttribute('data-bairro');
            document.getElementById('addressCidade').value = selectedOption.getAttribute('data-cidade');
            document.getElementById('addressEstado').value = selectedOption.getAttribute('data-estado');
            document.getElementById('addressCep').value = selectedOption.getAttribute('data-cep');

            document.getElementById('orderSummary').style.display = 'block';
            document.getElementById('pedidoResumo').style.display = 'block';

            // Chama a função para habilitar o botão
            habilitarBotao();
        });

        function habilitarBotao() {
            const phone = document.getElementById('phone').value.trim();
            const cpf = document.getElementById('cpf').value.trim();
            const addressSelected = document.getElementById('addressSelect').value;

            // Habilita o botão apenas se todos os campos obrigatórios estiverem preenchidos
            document.getElementById('finalizarButton').disabled = !(phone && cpf && addressSelected);
        }

        // Adiciona eventos nos campos obrigatórios para habilitar o botão quando forem preenchidos
        document.getElementById('phone').addEventListener('input', habilitarBotao);
        document.getElementById('cpf').addEventListener('input', habilitarBotao);
        document.getElementById('addressSelect').addEventListener('change', habilitarBotao);

        // Evento de clique no botão "Finalizar Compra"
        document.getElementById('finalizarButton').addEventListener('click', async function () {
            console.log("Botão 'Finalizar Compra' foi clicado"); // Verifica se o evento está sendo chamado

            // Monta os itens do carrinho
            const cartItems = [
                <% cart.forEach(item => { %>
                    {
                        productId: "<%= item._id %>",
                        name: "<%= item.name %>",
                        quantity: <%= item.quantity %>,
                        price: <%= item.price %>
                    },
                <% }); %>
            ];

            const userId = "<%= user._id %>";
            const name = "<%= user.name %>";
            const email = "<%= user.email %>";
            const phone = document.getElementById('phone').value;
            const cpf = document.getElementById('cpf').value;

            const address = {
                quadra: document.getElementById('addressQuadra').value,
                numero: parseInt(document.getElementById('addressNumero').value),
                complemento: document.getElementById('addressComplemento').value,
                bairro: document.getElementById('addressBairro').value,
                cidade: document.getElementById('addressCidade').value,
                estado: document.getElementById('addressEstado').value,
                cep: document.getElementById('addressCep').value,
            };

            const totalPrice = cartItems.reduce((acc, item) => acc + (item.price * item.quantity), 0);

            try {
                console.log("Salvando pedido no banco de dados...");

                // Salvar o pedido no banco de dados
                const orderResponse = await fetch('/order/finalizar', { 
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ 
                        cartItems, 
                        userId, 
                        name, 
                        email, 
                        phone, 
                        cpf, 
                        address, 
                        totalPrice 
                    })
                });

                if (!orderResponse.ok) {
                    throw new Error('Erro ao criar o pedido.');
                }

                const orderData = await orderResponse.json();
                console.log("Pedido salvo com sucesso:", orderData);

                if (orderData._id) {
                    // Redirecionar para a página de detalhes do pedido
                    window.location.href = `/order/detalhesPedido/${orderData._id}`;
                } else {
                    alert('Erro ao criar o pedido.');
                }

            } catch (error) {
                console.error('Erro ao finalizar pedido:', error.message || error);
                alert('Erro ao salvar o pedido: ' + error.message);
            }
        });
        document.getElementById('addressSelect').addEventListener('change', function() {
            const selectedOption = this.options[this.selectedIndex];
            const addressData = {
                quadra: selectedOption.dataset.quadra,
                numero: selectedOption.dataset.numero,
                complemento: selectedOption.dataset.complemento,
                bairro: selectedOption.dataset.bairro,
                cidade: selectedOption.dataset.cidade,
                estado: selectedOption.dataset.estado,
                cep: selectedOption.dataset.cep.replace('-', ''), // Remove o hífen do CEP
            };

            // Obtenha os dados do carrinho
            const cart = <%- JSON.stringify(cart) %>; // Convertendo cart para JSON

            // Chamar a API para calcular o frete
            axios.post('/order/calculate-shipping', { address: addressData, cart: cart })
                .then(response => {
                    console.log('Resposta do servidor:', response.data); // Adicione este log
                    if (response.data && response.data.shippingCost !== undefined && response.data.deliveryTime !== undefined) {
                        const shippingCost = parseFloat(response.data.shippingCost).toFixed(2);
                        
                        // Atualiza o valor do frete e o prazo de entrega
                        document.getElementById('shippingCost').innerText = `Valor do frete: R$ ${shippingCost}`;
                        document.getElementById('deliveryTime').innerText = `Prazo de entrega: ${response.data.deliveryTime+4} dias`;

                        // Calcula o valor total (produtos + frete)
                        const cartTotal = cart.reduce((acc, item) => acc + (item.price * item.quantity), 0);
                        const totalPriceWithShipping = parseFloat(cartTotal) + parseFloat(shippingCost);

                        // Atualiza o valor total na página
                        document.querySelector('h3').innerText = `Valor Total: R$ ${totalPriceWithShipping.toFixed(2)}`;
                    } else {
                        alert('Resposta inesperada do servidor ao calcular o frete.');
                    }
                })
                .catch(error => {
                    console.error('Erro ao calcular o frete:', error);
                    if (error.response && error.response.data) {
                        alert('Erro ao calcular o frete: ' + JSON.stringify(error.response.data));
                    } else {
                        alert('Não foi possível calcular o frete. Tente novamente.');
                    }
                });
        });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="/js/perfil/info.js"></script>
</body>
</html>
