<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueceu a Senha</title>
    <link rel="stylesheet" href="/css/login&cadastro/style.css">
</head>
<body>
    <div class="container">
        <h1><%= step === 1 ? 'Esqueceu a Senha' : 'Pergunta de Segurança' %></h1>

        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>

        <% if (success) { %>
            <p class="success"><%= success %></p>
        <% } %>

        <% if (step === 1) { %>
            <form action="/user/forgot-password" method="POST">
                <label for="email">Digite seu e-mail:</label>
                <input type="email" name="email" required>
                <button type="submit" class="button-zoom">Enviar</button>
            </form>
        <% } else if (step === 2) { %>
            <form action="/user/verify-security-answer" method="POST">
                <label><%= securityQuestion %></label>
                <input type="text" name="securityAnswer" required placeholder="Resposta">
                <input type="hidden" name="userId" value="<%= userId %>">
                <button type="submit" class="button-zoom">Verificar Resposta</button>
            </form>
        <% } %>
    </div>
</body>
</html>
